.change-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    width: 1381px;
    height: 522px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.change-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;

    .change-form_labels {
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            line-height: 20px;
            margin-bottom: 8px;
            color: #393939;
            font-size: 14px;
        }

        input,
        select {
            padding: 10px 16px;
            width: 380px;
            height: 40px;
        }

        #amount {
            text-align: end;
            -moz-appearance: textfield;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.change-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 67px;
    // margin-left: 119px;

    .change-info_containerCurrency {
        margin-top: 55px;
        font-size: 20px;
        line-height: 25px;

        p {

            &:first-child {
                margin-bottom: 12px;
            }
        }
    }
}

.change-info_current {
    font-size: 30px;
    color: #757575;
    line-height: 37.5px;
}

.change-info_exchange {
    font-size: 40px;
    line-height: 50px;
    color: #323232;
    margin-top: 16px;
}